.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8); }
  .modal .frm-insertar {
    width: 50%; }
    .modal .frm-insertar div[class="form-group"] {
      margin: 0;
      margin-bottom: .5rem; }

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .frm-insertar-modal {
    justify-content: start;
    align-items: baseline; }
    .frm-insertar-modal .frm-insertar {
      width: 100%; } }
