$primaryColor: #606060;
$secundaryColor: #454545;
$generalColor: #606060;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navigation-flex {
    background: $secundaryColor;

    .navigation {
        padding: 12px;
        display: flex;
        align-items: center;

        div > span {
            font-size: 1.4rem;
            cursor: pointer;
            color: $generalColor;

            &:hover {
                color: azure;
            }
        }

        .title {
            color: gray;
            align-self: center;
            margin: 0;
        }

        .btn-log-out {
            width: max-content;
            margin-left: auto;
        }

        .btn-action {
            align-self: center;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .container-actions {
        z-index: 1;
        left: 10px;
        display: none;
        background: $secundaryColor;
        position: absolute;
        width: max-content;

        a {
            text-decoration: none;
            padding: 10px;
            display: block;
            color: azure;

            &:hover {
                background-color: #808080;
            }
        }
    }
}

.container-grid {
    .grid-item {
        margin: 1rem auto 0 auto;
    }
}

footer {
    position: relative;
    padding: 1rem;
    background: #404040;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    .container-grid {
        overflow-y: scroll;

        .grid-item {
            margin: 1rem 0 0 0;
        }
    }
}

// Add with JS
.onScroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
