html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.navigation-flex {
  background: #454545; }
  .navigation-flex .navigation {
    padding: 12px;
    display: flex;
    align-items: center; }
    .navigation-flex .navigation div > span {
      font-size: 1.4rem;
      cursor: pointer;
      color: #606060; }
      .navigation-flex .navigation div > span:hover {
        color: azure; }
    .navigation-flex .navigation .title {
      color: gray;
      align-self: center;
      margin: 0; }
    .navigation-flex .navigation .btn-log-out {
      width: max-content;
      margin-left: auto; }
    .navigation-flex .navigation .btn-action {
      align-self: center;
      margin-left: 1rem;
      margin-right: 1rem; }
  .navigation-flex .container-actions {
    z-index: 1;
    left: 10px;
    display: none;
    background: #454545;
    position: absolute;
    width: max-content; }
    .navigation-flex .container-actions a {
      text-decoration: none;
      padding: 10px;
      display: block;
      color: azure; }
      .navigation-flex .container-actions a:hover {
        background-color: #808080; }

.container-grid {
  height: 100%;
  box-sizing: border-box; }
  .container-grid .grid-item {
    width: 95%;
    margin: 1rem auto 0 auto; }
  .container-grid footer {
    padding: 1rem;
    background: #404040;
    width: 100%;
    margin-top: 2rem; }

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .container-grid {
    overflow-y: scroll; }
    .container-grid .grid-item {
      margin: 1rem 0 0 0; } }

.onScroll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1; }
